<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title><%= title %></title>
</head>
<body>
  <nav>
    <a href="/trips/new" <%- title === 'Create New Trip' ? 'class="active"' : '' %>>Create New Trip</a>
    <a href="/" <%- title === 'View Your Trips' ? 'class="active"' : '' %>>View Your Trips</a>
  </nav>
  <main>
    <h1><%= title %></h1>