* {
  box-sizing: border-box;
  font-family: 'Trebuchet MS';
  color: #424748;
}

head > title {
  justify-content: center;
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas: 
    "nav"
    "main"
}

body > nav {
  grid-area: nav;
  background-color:rgb(39, 182, 238);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px;
}

body > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(177, 177, 173);
}

nav > a {
  margin: 10px;
  text-decoration: none;
  padding: 5px;
  border: solid;
  border-radius: 10px;
}

nav > a:hover {
  color: white;
  background-color: rgba(128, 48, 48, 0.808);
}

nav > a.active {
  color: white;
}

#add-activity-form {
  display: flex;
  flex-direction: column;
  width: 250px;
}

#add-trip-form {
  display: flex;
  flex-direction: column;
  width: 250px;
}

#list a {
  border-radius: 4px;
  background-color:rosybrown;
  padding: 4px;
  text-decoration: none;
  font-size: 14px;
}


@media only screen and (max-width: 768px) {
  body {
      grid-template-areas: 
        "nav"
        "main";
  }
}