<%- include('../partials/header') %>
<table id="list">
  <thead>
    <tr>
      <th>Date</th>
      <th>Destination</th>
      <th>Activities</th>
    </tr>
  </thead>
  <tbody>
    <% trips.forEach(function(trips) { %>
      <tr>
        <td><%= trips.date %></td>
        <td><%= trips.location %></td>
        <td><%= trips.activity %></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
