<%- include('../partials/header') %>

<h2>Plan Your Trip</h2>
<form action="/trips" method="POST">

  <label>Date:
    <input type="date" name="date">
  </label><br>

  <label>Time:
    <input type="time" name="time">
  </label><br>

  <label>Location:
    <input type="text" name="location">
  </label><br>

  <input type="submit" value="Book Your Getaway!">

</form>