<%- include('../partials/header') %>

<h2>Plan Your Trip</h2>
<form action="/trips" method="POST">
  <label>Date:
    <input type="date" name="date">
  </label><br>
  <label>Destination:
    <input type="text" name="destination">
  </label><br>
  <label>Activities (separate actors with commas):
    <input type="text" name="activities">
  </label><br>
  <input type="submit" value="Book Your Getaway!">
</form>