<%- include('../partials/header') %>

<!-- <section id="show-page">
    <div>Date: </div>
    <div><%= trip.title %></div>
    <div>Location: </div>
    <div><%= trip.location %></div>
    
    <div>Cast:</div>
    <ul>
    </ul>
  </section> -->